<a href = "/bright_ideas">Bright Ideas</a>
<br>
Name: <%=@user.name%>
<br>
Alias: <%=@user.username%>
<br>
Email: <%=@user.email%>
<hr>
Total number of posts: <%=@user.ideas.length%>
<br>
Total number of likes: <%=@user.likes.length%>